body{
    max-width: 1600px;
    margin:auto 0;
}
#background{
    width: 100%;
       
}
#content {
    background-color: #635D5C;
    margin-top: -10px;
       
}
.circle{
    max-width: 300px;
    margin: 80px;
    border: 20px solid #403b3b;
    border-radius:50%;
}
   